---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Head from '../components/Head.astro'
import RecentProjects from '../components/RecentProjects.astro'
import Tecnologias from '../components/Tecnologias.astro'
import AboutMe from '../components/AboutMe.astro'
import Contacto from '../components/Contacto.astro'

import "@fontsource/poppins";
---
<html class="scroll-smooth" lang="en">
	<Head/>
	<body class="font-poppins" id="sobreMi">
		<Header/>
		<main class="h-full flex flex-col gap-16 mb-20">
			<AboutMe/>
			<Tecnologias/>
			<RecentProjects/>
			<Contacto/>
		</main>
		<Footer/>
	</body>
</html>

