---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Head from '../components/Head.astro'
import RecentProjects from '../components/RecentProjects.astro'
import Tecnologias from '../components/Tecnologias.astro'
import AboutMe from '../components/AboutMe.astro'
import Contacto from '../components/Contacto.astro'

import "@fontsource/poppins";
---
<script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<html class="scroll-smooth" lang="en">
	<Head/>
	<body class="font-poppins">
		<Header />
		<main class="h-full flex flex-col gap-16 mb-12 mt-6">
			<AboutMe/>
			<Tecnologias/>
			<RecentProjects />
			<Contacto/>
		</main>
		<Footer />
	</body>
</html>

