---
import IconsRedes from './IconsRedes.astro'
---

<section class="p-6 flex flex-col gap-8" id="sobreMi">
  <hr />
    <div class="flex flex-col gap-2">
        <h1 class="font-bold text-4xl text-center">Santiago Medina</h1>
        <h2 class="font-semibold w-1/2 text-end">Desarrollador Web</h2>
        <div class="flex gap-6 items-center justify-center mt-2 mb-6"><IconsRedes /></div> 
      </div>

  
  
  <div class="flex flex-col justify-center items-center gap-16">
    <p class="text-justify">
      Estudiante de Analísta de Sistemas, en búsqueda de oportunidades que me
      permitan crecer profesionalmente y expandir mis conocimientos
    </p>
    <a href="/portfolio/public/docs/cvSantiagoMedina.pdf
    " download="cvSantiagoMedina.pdf" class="hover:scale-125 transform transition duration-300 ease-in-out "
      ><img
        width="70"
        height="70"
        src="https://img.icons8.com/ios/100/parse-from-clipboard.png"
        alt="parse-from-clipboard"
      />
    </a>
  </div>
  <hr />
</section>
