---
import IconsRedes from "./IconsRedes.astro";
---

<script type="module"></script>

<section class="p-6 flex flex-col gap-8 lg:gap-12 lg:pt-12">
  <hr />
  <div class="flex flex-col gap-2 items-center">
    <h1 class="font-bold text-4xl text-center lg:text-6xl">Santiago Medina</h1>
    <div class="w-full lg:flex lg:justify-center">

      <h2 class="w-1/2 font-semibold text-end lg:text-3xl lg:font-normal lg:w-1/3 lg:text-center">Desarrollador Web</h2>
    </div>
    <div class="flex gap-6 items-center justify-center mt-2 mb-6">
      <IconsRedes />
    </div>
  </div>

  <div class="flex flex-col justify-center items-center gap-16">
    <div class="max-w-96 lg:max-w-[500px]">

      <p class="text-justify lg:text-xl "  id="tecnologias">
        Estudiante de Analista de Sistemas, en búsqueda de oportunidades que me
        permitan crecer profesionalmente y expandir mis conocimientos
      </p>
    </div>
    <a
      href="/docs/cvSantiagoMedina.pdf"
      target="_blank"
      class="hover:scale-125 transform transition duration-300 ease-in-out"
      id="downloadPortfolio"
      type="application/pdf"
      ><img
        width="70"
        height="70"
        src="https://img.icons8.com/ios/100/parse-from-clipboard.png"
        alt="curriculum"
      />
    </a>
  </div>
  <hr />
</section>
<script type="module">
  function showToast() {
    const toast = document.createElement('div');
    toast.textContent = 'Descargando CV...';
    toast.style.position = 'fixed';
    toast.style.top = '76px';
    toast.style.right = '20px';
    toast.style.padding = '10px';
    toast.style.background = '#1E293B';
    toast.classList.add('rounded-md');
    toast.style.color = 'white';
    toast.style.zIndex = '1000';
    document.body.appendChild(toast);
    setTimeout(() => {
      document.body.removeChild(toast);
    }, 3000);
  }
  const downloadPortfolio = document.querySelector("#downloadPortfolio");
  downloadPortfolio.addEventListener("click", showToast);
</script>