---
import "../styles/style.css";
---

<section class="p-6">
  <div class="flex justify-center items-center reveal-section">
    <form
      class="bg-slate-800 w-full max-w-[640px] text-slate-200 px-12 py-6 rounded-3xl gap-6 flex flex-col"
      action="https://formsubmit.co/santiagomedina111204@gmail.com" method="POST"
    >
      <h3 class="font-semibold text-center text-2xl text-slate-50">
        Solicita tu presupuesto
      </h3>
      <div class="flex flex-col gap-2">
        <label for="name">Nombre:</label>
        <input
          type="text"
          id="name"
          name="user_name"
          class="h-10 text-black ps-2 rounded bg-slate-100"
          required
        />
      </div>
      <div class="flex flex-col gap-2">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="user_email"
          class="h-10 text-black ps-2 rounded bg-slate-100"
          required
        />
      </div>
      <div class="flex flex-col gap-2">
        <label for="subject">Asunto:</label>
        <input
          type="text"
          id="subject"
          name="subject"
          class="h-10 text-black ps-2 rounded bg-slate-100"
          required
        />
      </div>
      <div class="flex flex-col gap-2" id="contacto">
        <label for="message">Mensaje:</label>
        <textarea
          id="message"
          name="message"
          class="h-10 text-black ps-2 pt-2 min-h-10 max-h-32 rounded bg-slate-100"
          required
        ></textarea>
      </div>
      <div class="flex justify-center items-center">
        <input
          type="submit"
          value="Send"
          class="bg-slate-700 rounded-3xl w-fit px-6 py-2 hover:bg-slate-600 cursor-pointer"
        ></input>
      </div>
    </form>
  </div>
</section>


<script>
  function reveal() {
    var section = document.querySelector(".reveal-section");
    if (!section) {
      return; // Exit the function if section is null
    }
    var windowHeight = window.innerHeight;
    var elementTop = section.getBoundingClientRect().top;
    var elementVisible = 2;

    if (elementTop < windowHeight - elementVisible) {
      section.classList.add("active", "slide-up");
    } else {
      section.classList.remove("active", "slide-up");
    }
  }

  window.addEventListener("scroll", reveal);

  // Vaciar values de form
  window.onload = function () {
    const nameInput = document.getElementById("name") as HTMLInputElement;
    const emailInput = document.getElementById("email") as HTMLInputElement;
    const subjectInput = document.getElementById("subject") as HTMLInputElement;
    const messageInput = document.getElementById("message") as HTMLInputElement;

    if (nameInput) {
      nameInput.value = "";
    }

    if (emailInput) {
      emailInput.value = "";
    }

    if (subjectInput) {
      subjectInput.value = "";
    }

    if (messageInput) {
      messageInput.value = "";
    }
  };
</script>