---
import IconsRedes from "./IconsRedes.astro";
---

<section class="py-6">
  <div class="flex justify-between items-center">
    <hr class="w-[42%] relative top-5 border-y-1 border-slate-600 opacity-50" />

    <h2 class="text-4xl relative top-4 text-center min-w-[180px]">Contacto</h2>
    <hr class="w-[42%] relative top-5 border-y-1 border-slate-600 opacity-50" />
  </div>
  <div
    class="h-[240px] max-h-[240px] flex flex-col lg:flex-row justify-center items-center background gap-4 p-6"
  >





    <button
      class="bg-slate-300/[.30] rounded py-2 lg:py-4 px-4 w-1/3 min-w-[280px] max-w-[400px] flex text-nowrap overflow-hidden gap-2 justify-center items-center"
      id="numeroBtn"
    >
      <div id="numeroIcon">
        <svg
          data-testid="geist-icon"
          height="16"
          stroke-linejoin="round"
          viewBox="0 0 16 16"
          width="16"
          style="color: currentcolor;"
          ><path
            d="M5.5 1H2.87785C1.63626 1 0.694688 2.11946 0.907423 3.34268L1.14841 4.72836C1.96878 9.4455 5.51475 13.2235 10.1705 14.3409L12.5333 14.908C13.7909 15.2098 15 14.2566 15 12.9632V10.5L11.75 8.25L9.25 10.75L5.25 6.75L7.75 4.25L5.5 1Z"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            fill="transparent"></path></svg
        >
      </div>
      <input
        type="text"
        disabled
        class="bg-transparent pointer-events-none text-start text-xs lg:text-lg w-[100px] lg:w-full max-w-[150px]"
        id="numero"
        value="+54 11 2248-8155"
      />
    </button>





    <button
      class="bg-slate-300/[.30] rounded py-2 lg:py-4 px-4 w-1/3 min-w-[280px] max-w-[400px] flex justify-center items-center gap-2"
      id="mailBtn"
    >
      <div id="mailIcon">
        <svg
          data-testid="geist-icon"
          height="16"
          stroke-linejoin="round"
          viewBox="0 0 16 16"
          width="16"
          style="color: currentcolor;"
          ><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13.2642 3.5H2.73578L8 8.01219L13.2642 3.5ZM1.5 4.41638V11.5C1.5 12.0523 1.94772 12.5 2.5 12.5H13.5C14.0523 12.5 14.5 12.0523 14.5 11.5V4.41638L8.48809 9.56944L8 9.98781L7.51191 9.56944L1.5 4.41638ZM0 2H1.5H14.5H16V3.5V11.5C16 12.8807 14.8807 14 13.5 14H2.5C1.11929 14 0 12.8807 0 11.5V3.5V2Z"
            fill="currentColor"></path></svg
        >
      </div>
      <input
        type="text"
        disabled
        class="bg-transparent pointer-events-none text-start text-xs lg:text-lg min-w-[200px] w-full max-w-[200px] lg:max-w-[300px]"
        id="mail"
        value="contacto@medinasantiago.com"
      />
    </button>






    <button
      class="bg-slate-300/[.20] rounded py-2 lg:py-4 px-4 w-1/3 min-w-[280px] max-w-[400px] flex justify-center items-center gap-2 text-nowrap overflow-hidden"
      id="direccionBtn"
    >
      <div id="direccionIcon">
        <svg
          data-testid="geist-icon"
          height="16"
          stroke-linejoin="round"
          viewBox="0 0 16 16"
          width="16"
          style="color: currentcolor;"
          ><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M11.5253 10.2634L8 13.8578L4.47471 10.2634C2.50843 8.25857 2.50843 4.99627 4.47471 2.99144C6.42507 1.00285 9.57493 1.00285 11.5253 2.99144C13.4916 4.99627 13.4916 8.25857 11.5253 10.2634ZM12.5962 11.3137L9.05051 14.9289L8 16L6.94949 14.9289L3.40381 11.3137C0.865397 8.72554 0.865399 4.52929 3.40381 1.94113C5.94222 -0.647042 10.0578 -0.647042 12.5962 1.94113C15.1346 4.52929 15.1346 8.72554 12.5962 11.3137ZM9 6.5C9 7.05228 8.55228 7.5 8 7.5C7.44772 7.5 7 7.05228 7 6.5C7 5.94772 7.44772 5.5 8 5.5C8.55228 5.5 9 5.94772 9 6.5ZM8 9C9.38071 9 10.5 7.88071 10.5 6.5C10.5 5.11929 9.38071 4 8 4C6.61929 4 5.5 5.11929 5.5 6.5C5.5 7.88071 6.61929 9 8 9Z"
            fill="currentColor"></path></svg
        >
      </div>
      <input
        type="text"
        disabled
        class="bg-transparent pointer-events-none text-start text-xs lg:text-lg max-w-[140px] w-full lg:max-w-[220px] lg:max-w-[300px]"
        id="direccion"
        value="Buenos Aires, Argentina"
      />
    </button>






  </div>

  <div class="flex justify-between items-center">
    <hr
      class="w-[42%] border-y-1 relative bottom-4 border-slate-600 opacity-50"
    />

    <div class="flex gap-6 relative bottom-4 min-w-[210px] justify-center">
      <IconsRedes />
    </div>
    <hr
      class="w-[42%] border-y-1 relative bottom-4 border-slate-600 opacity-50"
    />
  </div>
</section>

<style>
  .background {
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(237, 241, 245, 1) 100%
    );
  }
</style>

<script>
  const numero = document.getElementById("numero");
  const mail = document.getElementById("mail");
  const direccion = document.getElementById("direccion");

  const numeroBtn = document.getElementById("numeroBtn");
  const mailBtn = document.getElementById("mailBtn");
  const direccionBtn = document.getElementById("direccionBtn");

  const numeroIcon = document.getElementById("numeroIcon");
  const mailIcon = document.getElementById("mailIcon");
  const direccionIcon = document.getElementById("direccionIcon");

  if (numeroBtn) {
    numeroBtn.addEventListener("click", () => {
      navigator.clipboard.writeText((numero as HTMLInputElement).value);
      (numero as HTMLInputElement).value = "Copiado!";
      numeroIcon?.classList.add("hidden");
      numero?.classList.add("font-bold");
      numero?.classList.add("text-white");
      numeroBtn?.classList.add("cursor-not-allowed");
      numeroBtn?.classList.add("bg-slate-800");
      numero?.classList.add("text-center");
      numero?.classList.remove("text-start");

      setTimeout(function () {
        (numero as HTMLInputElement).value = "+54 11 2248-8155";
        numeroIcon?.classList.remove("hidden");
        numero?.classList.remove("font-bold");
        numero?.classList.remove("text-white");
        numeroBtn?.classList.remove("cursor-not-allowed");
        numeroBtn?.classList.remove("bg-slate-800");
        numero?.classList.remove("text-center");
        numero?.classList.add("text-start");

      }, 2200);
    });
  }

  if (mailBtn) {
    mailBtn.addEventListener("click", () => {
      navigator.clipboard.writeText((mail as HTMLInputElement).value);
      (mail as HTMLInputElement).value = "Copiado!";
      mailIcon?.classList.add("hidden");
      mail?.classList.add("font-bold");
      mail?.classList.add("text-white");
      mailBtn?.classList.add("cursor-not-allowed");
      mailBtn?.classList.add("bg-slate-800");
      setTimeout(function () {
        (mail as HTMLInputElement).value = "contacto@medinasantiago.com";
        mailIcon?.classList.remove("hidden");
        mail?.classList.remove("font-bold");
        mail?.classList.remove("text-white");
        mailBtn?.classList.remove("cursor-not-allowed");
        mailBtn?.classList.remove("bg-slate-800");
      }, 2200);
    });
  }

  if (direccionBtn) {
    direccionBtn.addEventListener("click", () => {
      navigator.clipboard.writeText((direccion as HTMLInputElement).value);
      (direccion as HTMLInputElement).value = "Copiado!";
      direccionIcon?.classList.add("hidden");
      direccion?.classList.add("font-bold");
      direccion?.classList.add("text-white");
      direccionBtn?.classList.add("cursor-not-allowed");
      direccionBtn?.classList.add("bg-slate-800");

      setTimeout(function () {
        (direccion as HTMLInputElement).value = "Buenos Aires, Argentina";
        direccionIcon?.classList.remove("hidden");
        direccion?.classList.remove("font-bold");
        direccion?.classList.remove("text-white");
        direccionBtn?.classList.remove("cursor-not-allowed");
        direccionBtn?.classList.remove("bg-slate-800");
      }, 2200);
    });
  }
</script>
