---

---

<section class="p-6">
  <h2 class="font-semibold text-center text-3xl pb-8">Contactame</h2>
  <div class="flex justify-center items-center">
    <form
      class="bg-slate-800 w-full max-w-[640px] text-slate-200 px-12 py-6 rounded-3xl gap-6 flex flex-col"
      action=""
    >
      <h3 class="font-semibold text-center text-2xl text-slate-50">Solicita tu presupuesto</h3>
      <div class="flex flex-col gap-2">
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          class="h-10 text-black ps-2 rounded  bg-slate-100"
          required
        />
      </div>
      <div class="flex flex-col gap-2">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          class="h-10 text-black ps-2 rounded  bg-slate-100"
          required
        />
      </div>
      <div class="flex flex-col gap-2">
        <label for="subject">Asunto:</label>
        <input
          type="text"
          id="subject"
          name="subject"
          class="h-10 text-black ps-2 rounded bg-slate-100"
          required
        />
      </div>
      <div class="flex flex-col gap-2"  id="contacto">
        <label for="mensaje">Mensaje:</label>
        <textarea
          id="mensaje"
          name="mensaje"
          class="h-10 text-black ps-2 pt-2 min-h-10 max-h-32 rounded bg-slate-100"
          required></textarea>
      </div>
      <div class="flex justify-center items-center">
        <button class="bg-slate-700 rounded-3xl w-fit px-6 py-2 hover:bg-slate-600" type="submit"
          >Enviar</button
        >
      </div>
    </form>
  </div>
</section>
