---

---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image" href="/images/logo.png" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <script
    src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js"
    crossorigin="anonymous"
    defer></script>
  <link
    href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css"
    rel="stylesheet"
    crossorigin="anonymous"
  />

  <title>Santiago Medina - Portfolio</title>
</head>
