---

---

<header class="flex justify-center h-16 shadow-lg items-center sticky top-0 bg-white z-50">
  <label class="relative z-40 cursor-pointer px-3 py-6" for="mobile-menu">
    <input class="peer hidden" type="checkbox" id="mobile-menu" />
    <div
      class="relative z-50 block h-[1px] w-7 bg-black bg-transparent content-[''] before:absolute before:top-[-0.35rem] before:z-50 before:block before:h-full before:w-full before:bg-black before:transition-all before:duration-100 before:ease-out before:content-[''] after:absolute after:right-0 after:bottom-[-0.35rem] after:block after:h-full after:w-full after:bg-black after:transition-all after:duration-100 after:ease-out after:content-[''] peer-checked:bg-transparent before:peer-checked:top-0 before:peer-checked:w-full before:peer-checked:rotate-45 before:peer-checked:transform after:peer-checked:bottom-0 after:peer-checked:w-full after:peer-checked:-rotate-45 after:peer-checked:transform"
    >
    </div>
    <div
      class="fixed inset-0 z-40 hidden h-full w-full bg-black/50 backdrop-blur-sm peer-checked:block"
    >
      &nbsp;
    </div>
    <div
      class="fixed bottom-0 right-0 z-40 h-full w-full -translate-y-full overflow-y-auto overscroll-y-none transition duration-300 peer-checked:translate-y-0"
    >
      <div class="float-right w-[100%] bg-white px-6 pt-[4.5rem] pb-6 shadow-2xl">
        <nav>
          <ul class="flex flex-col gap-5">
            <a href="http://localhost:4321/">
              <li class="font-bold">Inicio</li>
            </a>
            <a href="#sobreMi">
              <li class="hover:font-bold focus:font-bold">Sobre mí</li>
            </a>
            <a href="#tecnologias">
              <li class="hover:font-bold focus:font-bold">Tecnologías</li>
            </a>
            <a href="#proyectos">
              <li class="hover:font-bold focus:font-bold">Proyectos</li>
            </a>
            <a href="#contacto">
              <li class="hover:font-bold focus:font-bold">Contacto</li>
            </a>
          </ul>
        </nav>
      </div>
    </div>
  </label>
</header>

<script>

  const links = document.querySelectorAll('nav ul a');

  // Para cada enlace, agrega un controlador de eventos de clic
  links.forEach(link => {
    link.addEventListener('click', () => {
      // Selecciona el checkbox mobile-menu
      const checkbox = document.getElementById('mobile-menu');

      // Cambia el estado del checkbox a no marcado
      checkbox.checked = false;
    });
  });
</script>